* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.front-page {
  width: 100vw;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f4f4f4;
  overflow: hidden; /* Prevents unwanted scrolling */
}

.landingPageImg {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Ensures the image covers the full screen without distortion */
  position: absolute;
  top: 0;
  left: 0;
}


.logo {
  width: 140px;
  height: 60px;
  position: absolute;
  top: 14px;
  left: 100px; 
  transform: translateX(-50%); /* Ensures proper centering */
  z-index: 1;
}



.branding{
  display: block;
  position: absolute;
  left: 30px;
  font-size: 24px; 
  font-weight: bold;
  color: white; 
}


ul{
  position: absolute;
  color: white;
  display: flex;
  list-style: none;
  top: 35px;
  right: 40px;
  gap: 20px;
  padding-bottom: 20px;
}

.about{
  text-align: center;
}

.about h1{
  color: rgb(88, 88, 206);
  padding-top: 10px;
  padding-bottom: 10px;
}

.about p{
  padding-left: 60px;
  padding-right: 50px;
  padding-bottom: 20px;
}


.services{
  text-align: center;
  color: rgb(88, 88, 206);
  padding-top: 10px;
  padding-bottom: 10px;
}